/* Alurser css custom style sheet */

/*------------------------------------------------*/

/*----------------------------------------------------*/

/* general page settings */
* {
    margin: 0;
}
html {
    height: 100%;
}
body {
    background-color: #e8c99b;
    background-image: linear-gradient(315deg, #e8c99b 0%, #e8bc85 74%);
    font-family: Didot, serif !important;
}

.text-brown {
    color: brown;
}

.text-brown:hover {
    color: brown;
}

.reset-txt {
    cursor: pointer;
}

/* navbar settings */
.nav-item a {
    font-size: 17pt;
}
.nav-link.active {
    font-weight: bold;
}
.navbar-custom-1 {
    background-color: #e8c99b;
    background-image: linear-gradient(315deg, #e8c99b 0%, #e8bc85 74%);
}
.dropdown-menu {
    background-color: #e8c99b !important;
    background-image: linear-gradient(315deg, #e8c99b 0%, #e8bc85 74%) !important;
}
.dropdown-item:hover {
    background-color: #e8c99b !important;
    background-image: linear-gradient(315deg, #e8c99b 0%, #e8bc85 74%) !important;
    color: gray !important;
}

/* modal settings */
.modal-content {
    background-color: #e8c99b !important;
    background-image: linear-gradient(315deg, #e8c99b 0%, #e8bc85 74%) !important;
}
.modal-header {
    border-color: brown !important;
}
.modal-footer {
    border-color: brown !important;
}

/* home section */
.bg-land {
    background-image: url("../img/home.jpg");
    background-size: cover;
    background-position: 10%;
}

.btn-brown {
    background-color: chocolate !important;
}

.title-shadow {
    text-shadow: 2px 0px black;
}

/* news letter section */
.bg-news {
    background-color: #000000;
    background-image: linear-gradient(315deg, #000000 0%, #422419 74%);

}

@media (min-width: 768px) {
    .news-input {
        width: 50% !important;
    }
}

/* rooms section */
.bg-rooms {
    background-color: #e8c99b;
    background-image: linear-gradient(315deg, #e8c99b 0%, #e8bc85 74%);
}

.border-brown {
    border-bottom: 1px solid brown;
}

.border-brown-top {
    border-top: 1px solid brown;
}

.info-btn {
    cursor: pointer;
}

/* map section */
.bg-map {
    background-color: #000000;
    background-image: linear-gradient(315deg, #000000 0%, #422419 74%);
}

#map {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

/* footer section */
.bg-footer {
    background-color: #e8c99b;
    background-image: linear-gradient(315deg, #e8c99b 0%, #e8bc85 74%);
}

/* alerts */
.alert-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 5;
}

.alert-body {
    position: absolute;
    width: 30%;
    height: 25%;
    z-index: 10;
    background-color: #e8bc85;
    top: 30%;
    left: 34%;
    border: 3px solid brown;
}

.hide {
    display: none;
}